#adm-breadcrumb .text-uppercase {
  letter-spacing: 0.15em;
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
  content: '';
}

#adm-breadcrumb .breadcrumb-arrow {
  height: 40px;
  line-height: 40px;
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item:first-child a {
  border-radius: 4px 0 0 4px;
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item,
#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a,
#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item span {
  display: inline-block;
  vertical-align: top;
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item:not(:first-child) {
  margin-left: -1px;
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item+.breadcrumb-item:before {
  padding: 0;
  content: "";
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a,
#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item.active {
  height: 40px;
  padding: 0 10px 0 25px;
  line-height: 40px;
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a::after,
#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a::before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a::before {
  right: -10px;
  z-index: 3;
  border-left-color: var(--secondary);
  border-left-style: solid;
  border-left-width: 11px;
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a.pl-3::after {
  background-color:  var(--secondary);
}

#adm-breadcrumb .breadcrumb-arrow li.pl-0 a::after {
  background-color:  var(--secondary);
}

#adm-breadcrumb .breadcrumb-arrow li.last-link a::after {
  background-color: transparent;
}

#adm-breadcrumb .breadcrumb-arrow li.pl-0 a:hover::before {
  background-color:  var(--primary);
  left: -9px;
  border-left: 11px solid var(--secondary);
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a::after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid var(--primary);
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a:focus,
#adm-breadcrumb .breadcrumb-arrow li a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

#adm-breadcrumb .breadcrumb-arrow .breadcrumb-item a:focus::before,
#adm-breadcrumb .breadcrumb-arrow li a:hover::before {
  border-left-color: var(--primary);
}