/*!
 * Author : Gourdon Aymeric
 * Version : 1.0
 * CSS pour le block débug
 */

.block-debug-pre {
  background-color: $light;
  padding: 10px;
  border: 1px solid $primary;
  border-radius: 3px;
}

.block-debug-pre p {
  color: #000;
  font-family: monospace;
  font-size: 0.875em;
}

.block-debug-pre p b {
  font-weight: bold;
}