/*!
 * Author : Gourdon Aymeric
 * Version : 1.0
 * CSS global pour l'admin
 */

body {
  font-family: 'Poppins', sans-serif;
  //background-color: var(--light);
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

h1, h2, h3 {
  color: $primary;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

#block-content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
