/*!
 * Author : Gourdon Aymeric
 * Version : 1.0
 * CSS la médiathèque
 */

#global-mediatheque {

  /**
  Fil d'arianne, affichage du > en blanc
   */
  #mediaBreadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #FFFFFF;
  }

  @media (max-width: 1040px) {
    .d-none-mini {
      display: none;
    }
  }

  #block-media-grid {

    .media {
      border-radius: 2px;
    }

    .media .info-media {
      position: relative;
      top: -40px;
      color: #FFF;
      padding: 5px;
      background-color: rgba(35, 40, 43, 0.5);
      display: none;
      margin-bottom: -40px;
    }

    .media:hover .info-media {
      display: block;
    }
  }
}

/**
Grid
 */
#block-media-grid {

  a {
    cursor: pointer;
  }

  .folder {
    background-image: url('/public/assets/natheo/mediatheque/folder.png');
    background-size: 200px;
    height: 200px;
    width: 200px;
  }

  .folder:hover {
    background-image: url('/public/assets/natheo/mediatheque/folder_open.png');
    background-size: 200px;
    cursor: pointer;
  }

}

/** Block preview **/
#form-upload-preview {
  img {
    transition: transform .1s;
  }

  img:hover {
    transform: scale(3);
    border: 1px solid black;
  }
}