/**
CSS pour le menu de gauche admin
 */
#adm-menu-left {
  max-width: 100%;
  color: #FFFFFF;
}

#adm-menu-left .nav-pills .nav-link {
  background: none;
  border-radius: unset;
  transition: none;
  color: #000000;
}

#adm-menu-left .nav-pills .nav-link:hover {
  border-radius: unset;
  background-color: $primary;
  color: #FFFFFF;
  margin-top: -1px;
}

#adm-menu-left .nav-pills .nav-toggle:hover {
  border-radius: unset;
  background-color: $primary;
}
#adm-menu-left .nav-pills .nav-toggle:not(.collapsed) {
  background-color: $primary;
  color: #FFFFFF;
  font-weight: normal;
  border-radius: unset;
}

#adm-menu-left .bi-chevron-right {
  transition: all 0.3s ease;
}

#adm-menu-left .nav-pills .nav-toggle:not(.collapsed) .bi-chevron-right {
  rotate: 90deg;
}

