#adm-menu-left .nav-pills .nav-link {
  background: none;
  border-radius: unset;
  transition: none;
}

#adm-menu-left .nav-pills .nav-link:hover {
  border-radius: unset;
  background-color: $primary;
  opacity: 0.5;
  color: white;
  margin-top: -1px;
}

#adm-menu-left .nav-pills .nav-toggle:hover {
  border-radius: unset;
  background-color: $primary;
  opacity: 0.7;
  color: white;
}
#adm-menu-left .nav-pills .nav-toggle:not(.collapsed) {
  background-color: $primary;
  opacity: 0.7;
  color: white;
  font-weight: normal;
  border-radius: unset;
}

#adm-menu-left .bi-chevron-right {
  transition: all 0.3s ease;
}

#adm-menu-left .nav-pills .nav-toggle:not(.collapsed) .bi-chevron-right {
  rotate: 90deg;
}

@media (max-width:768px) and (min-width:575px) {

  #adm-menu-left {
    min-width: 60px;
  }

  #adm-menu-left .bi-icon
  {
    font-size: 1.5rem;
  }

  #adm-menu-left .text-menu {
    display: none;
  }

  #adm-menu-left .bi-chevron-right {
    margin-top: 8px;
  }
}

