/*!
 * Author : Gourdon Aymeric
 * Version : 1.0
 * CSS pour la création / gestion des pages
 */

/** Rendu de la démo **/
#col-adm-page-render {

  .transition-render {
    transition: all 0.3s;
  }

  #demo-render-page {
    border: 3px solid var(--bs-secondary);
    height: 92%;
  }

  #content-render {
    height: 92%;
  }
}

/** CSS formulaire de création / édition de pae **/
#global-page-form {

  #content-history {

    .row-history:hover {
      background-color: var(--bs-secondary);
      color:white;
    }
  }
}