{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'user.page_update_title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.page_update_title_h1' | trans }}</h1>

    {{ breadcrumb(breadcrumb) }}

{% endblock %}