{% extends 'emails/email_base.html.twig' %}



{% block body %}
    {% apply inky_to_html|inline_css(encore_entry_css_source('email')) %}
        <div class="markdown-editor-output">
            {{ content | raw }}
        </div>
    {% endapply %}
{% endblock %}
