{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "plugins": ["@prettier/plugin-php", "prettier-plugin-twig-melody"],
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "phpVersion": "8.2",
                "tabWidth": 4,
                "braceStyle": "psr-2"
            }
        },
        {
            "files": "*.twig",
            "options": {
                "tabWidth": 4,
                "twigPrintWidth": 120
            }
        },
        {
            "files": ["*.js", "*.ts", "*.jsx", "*.tsx", "*.vue"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
