{% extends 'front/front_base.html.twig' %}

{% block body %}

<div class="mx-2" {{ vue_component('Front/NatheoHorizon/Structure', {
    'datas' : datas,
    'urls' : urls,
    'translate' : translate
}) }}></div>


{% endblock %}