{% extends 'admin/admin_base_preview.html.twig' %}

{% block title %}{{ "page.preview.title" | trans({}, 'page') }}{% endblock %}

{% block body %}

    <div class="container-fluid">

    {% if datas.token is same as(null) %}
        <div class="alert alert-warning mt-4">
            <h3 class="alert-heading"><i class="bi bi-exclamation-triangle-fill"></i> {{ "page.preview.no.possible.title" | trans({}, 'page') }}</h3>
            {{ "page.preview.no.possible" | trans({}, 'page') }}
        </div>
    {% else %}
    <div {{ vue_component('Admin/Content/Page/PagePreview', {
        'urls' : urls, 'datas' : datas, 'translate' : translate
    }) }}></div>
        {% endif %}


    </div>
{% endblock %}