{% extends 'admin/admin_base.html.twig' %}

{% block title %}Démo design{% endblock %}

{% block body %}

    <h2>Page de démo</h2>

    <h3> Fil d'arianne</h3>

    <div id="adm-breadcrumb">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-arrow p-0 bg-light">
                <li class="breadcrumb-item last-link"><a href="#" class="text-uppercase">Home</a></li>
                <li class="breadcrumb-item pl-0 active text-uppercase pl-4">Data</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-arrow p-0 bg-light">
                <li class="breadcrumb-item"><a href="#" class="text-uppercase pl-3">Home</a></li>
                <li class="breadcrumb-item pl-0 last-link"><a href="#" class="text-uppercase">Library</a></li>
                <li class="breadcrumb-item pl-0 active text-uppercase pl-4">Data</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-arrow p-0 bg-light">
                <li class="breadcrumb-item"><a href="#" class="text-uppercase pl-3">Home</a></li>
                <li class="breadcrumb-item pl-0"><a href="#" class="text-uppercase">Library</a></li>
                <li class="breadcrumb-item pl-0 last-link"><a href="#" class="text-uppercase">Library</a></li>
                <li class="breadcrumb-item pl-0 active text-uppercase pl-4">Data</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-arrow p-0 bg-light">
                <li class="breadcrumb-item"><a href="#" class="text-uppercase pl-3">Home</a></li>
                <li class="breadcrumb-item pl-0"><a href="#" class="text-uppercase">Library</a></li>
                <li class="breadcrumb-item pl-0"><a href="#" class="text-uppercase">Library</a></li>
                <li class="breadcrumb-item pl-0 last-link"><a href="#" class="text-uppercase">Library</a></li>
                <li class="breadcrumb-item pl-0 active text-uppercase pl-4">Data</li>
            </ol>
        </nav>
    </div>

    <h3> Vue JS</h3>

    <div {{ vue_component('Demo', { 'name': 'Yes' }) }}></div>

    <h3>Bloc d'éléments</h3>

    <a href="#">Je suis un lien</a> <br />

    <a href="#" class="link-primary">Primary link</a>
    <a href="#" class="link-secondary">Secondary link</a>
    <a href="#" class="link-success">Success link</a>
    <a href="#" class="link-danger">Danger link</a>
    <a href="#" class="link-warning">Warning link</a>
    <a href="#" class="link-info">Info link</a>
    <a href="#" class="link-light">Light link</a>
    <a href="#" class="link-dark">Dark link</a>


    <div>Texte dans une div</div>
    <p>Texte dans un p</p>

    <p class="text-primary">.text-primary</p>
    <p class="text-secondary">.text-secondary</p>
    <p class="text-success">.text-success</p>
    <p class="text-danger">.text-danger</p>
    <p class="text-warning bg-dark">.text-warning</p>
    <p class="text-info bg-dark">.text-info</p>
    <p class="text-light bg-dark">.text-light</p>
    <p class="text-dark">.text-dark</p>
    <p class="text-body">.text-body</p>
    <p class="text-muted">.text-muted</p>
    <p class="text-white bg-dark">.text-white</p>
    <p class="text-black-50">.text-black-50</p>
    <p class="text-white-50 bg-dark">.text-white-50</p>

    <h3>Background</h3>

    <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
    <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
    <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
    <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
    <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
    <div class="p-3 mb-2 bg-info text-dark">.bg-info</div>
    <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
    <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
    <div class="p-3 mb-2 bg-body text-dark">.bg-body</div>
    <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
    <div class="p-3 mb-2 bg-transparent text-dark">.bg-transparent</div>

    <h3>Alertes</h3>

    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
    <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
    </div>
    <div class="alert alert-dark" role="alert">
        A simple dark alert—check it out!
    </div>

    <h3>Badge</h3>

    <span class="badge text-bg-primary">Primary</span>
    <span class="badge text-bg-secondary">Secondary</span>
    <span class="badge text-bg-success">Success</span>
    <span class="badge text-bg-danger">Danger</span>
    <span class="badge text-bg-warning">Warning</span>
    <span class="badge text-bg-info">Info</span>
    <span class="badge text-bg-light">Light</span>
    <span class="badge text-bg-dark">Dark</span>

    <h3>Progress bar</h3>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" aria-label="Info example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" aria-label="Danger example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <h3>sprinner</h3>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

{% endblock %}


