<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ "preview.title" | trans({}, 'editor_markdown') }}{% endblock %}</title>

    <link rel="icon" type="image/jpg" href="{{ asset('assets/natheo/favico/favicon.ico') }}">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {%set theme = get_option_system_value_by_key(constant('App\\Utils\\System\\Options\\OptionSystemKey::OS_THEME_SITE')) %}
        {{ vite_entry_link_tags('admin_'~theme) }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>

{% block body %}{% endblock %}
</body>
</html>