<!DOCTYPE html>
<html class="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ get_option_system_value_by_key(constant('App\\Utils\\System\\Options\\OptionSystemKey::OS_SITE_NAME')) }}{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="{{ asset('assets/natheo/favico/favicon.ico') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}

        {%set theme = get_option_user_value_by_key(constant('App\\Utils\\System\\Options\\OptionUserKey::OU_THEME_SITE')) %}
        {{ vite_entry_link_tags('admin_css') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('admin') }}
    {% endblock %}
</head>
<body>
<div class="sidebar-overlay" id="sidebarOverlay" onclick="toggleMobileSidebar()"></div>

<div class="flex h-screen overflow-hidden">

    <!-- Sidebar  -->
    {% include "/admin/includes/menu.html.twig" %}
    <!-- Page Content  -->
    <div class="flex-1 flex flex-col overflow-hidden">
        {% include "/admin/includes/header.html.twig" %}
        <main class="flex-1 overflow-y-auto p-4 sm:p-6">
            {% block body %}{% endblock %}
        </main>
    </div>
    {% include "/admin/includes/debug_bar.html.twig" %}
</div>
    {% include "/admin/includes/scripts.html.twig" %}

<script>
    {% block scriptJavascript %}

    {% endblock %}
</script>

</body>
</html>
