{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'comment.moderate.comments.page_title' | trans({}, 'comment') }}{% endblock %}

{% block body %}
    <h1>{{ 'comment.moderate.comments.page_title_h1' | trans({}, 'comment') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    A faire avant :
    <ul>
        <li>Page : 2 nouveaux champs -> nbComment et isOpenComment</li>
        <li>Mettre à jour listing page</li>
        <li>Mettre à jour fixture page</li>
        <li>Mettre à jour fixture commentaire</li>
    </ul>


    <div {# {{ vue_component('Admin/GenericGrid', {'url' : path('admin_comment_load_grid_data',  {'page' : page, 'limit' : limit}), 'page' : page, 'limit' : limit, 'activeSearchData' : true, 'showFilter' : true}) }} #}></div>


{% endblock %}