code {
    font-family: MyFancyCustomFont, monospace;
    font-size: inherit;
}

pre {
    background-color: #000000;
    color: #ffffff;
}

pre .error-config-file {
    font-weight: bold;
    color: #ef7378;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-image: initial;
    border-radius: 5px;
}

legend {
    all: unset;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    color: #999;
}
