<nav class="navbar bg-primary bg-opacity-75">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Natheo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>