<nav id="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-yin-yang"></i> <span class="d-none-mini">Natheo CMS</span></h3>
    </div>
    <ul class="list-unstyled components">
        {{ getSidebar(app.current_route) }}
    </ul>
</nav>