<div class="flex-column" id="adm-menu-left">
    <nav class="nav nav-pills flex-column shadow">
        <a class="nav-link nav-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#nav-1" href="#nav-1" aria-current="page" aria-expanded="false" href="#">
            <i class="bi-house"></i>
            Menu 1
            <i class="bi-chevron-right float-end"></i>
        </a>
        <div class="collapse" id="nav-1" data-bs-parent="#adm-menu-left">
            <nav class="nav flex-column">
                <a class="nav-link ps-4" aria-current="page" href="#">
                    <i class="bi-house"></i>sub-menu-1-1
                </a>
                <a class="nav-link ps-4" href="#">
                    <i class="bi-house"></i>
                    sub-menu-1-2
                </a>
                <a class="nav-link ps-4" href="#"> <i class="bi-house"></i> sub-menu-1-3</a>
                <a class="nav-link ps-4" href="#"> <i class="bi-house"></i> sub-menu-1-4</a>
            </nav>
        </div>
        <a class="nav-link" href="#">Menu 2</a>
        <a class="nav-link nav-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#nav-3" href="#nav-3" aria-current="page" aria-expanded="false" href="#">
            Menu 3
            <i class="bi-chevron-right float-end"></i>
        </a>
        <div class="collapse" id="nav-3" data-bs-parent="#adm-menu-left">
            <nav class="nav flex-column">
                <a class="nav-link" href="#">sub-menu-3-1</a>
                <a class="nav-link" href="#">sub-menu-3-2</a>
                <a class="nav-link" href="#">sub-menu-3-3</a>
            </nav>
        </div>
        <a class="nav-link disabled">Disabled</a>
    </nav>
</div>