<nav id="sidebar">
    <div class="sidebar-header">
        <h3><i class="bi bi-yin-yang"></i> <span class="d-none-mini">Natheo</span></h3>
    </div>

    <ul class="list-unstyled components">
        <!-- <p>Project 1</p> -->
        <li><a href="{{ path('dashboard_index') }}"><i class="bi bi-house-fill"></i> <span class="d-none-mini">Dashboard</span></a></li>
        <li><a href="#"><i class="bi bi-person-lines-fill"></i> <span class="d-none-mini">Membres</span></a></li>
        <li>
            <a class="collapsed nav-toggle" href="#nav-1" data-bs-toggle="collapse" data-bs-target="#nav-1" aria-current="page" aria-expanded="false">
                <i class="bi bi-gear-fill"></i> <span class="d-none-mini">Système</span>
                <i class="bi bi-chevron-right float-end d-none-mini"></i>
            </a>
            <ul class="collapse list-unstyled" id="nav-1" data-bs-parent="#sidebar">
                <li><a href="#"><i class="bi bi-person-workspace"></i> <span class="d-none-mini">Droits</span></a></li>
                <li><a href="#"><i class="bi bi-option"></i> <span class="d-none-mini">Options</span></a></li>
            </ul>
        </li>

        <li class="active">
            <a class="collapsed nav-toggle" href="#nav-3" data-bs-toggle="collapse" data-bs-target="#nav-3" aria-current="page" aria-expanded="false">
                <i class="bi-tools"></i> <span class="d-none-mini">Dev Tools</span>
                <i class="bi-chevron-right float-end  d-none-mini"></i>
            </a>
            <ul class="collapse list-unstyled" id="nav-3" data-bs-parent="#sidebar">
                <li><a href="#"><i class="bi bi-sign-do-not-enter-fill"></i> <span class="d-none-mini">Dev options</span></a></li>
                <li><a href="#"><i class="bi bi-database-fill"></i> <span class="d-none-mini">Base de données</span></a></li>
                <li class="sub-active"><a href="{{ path('dashboard_page_demo') }}"><i class="bi bi-code"></i> <span class="d-none-mini">Elements HTML</span></a></li>
            </ul>
        </li>
        <li><a href="#"><i class="bi bi-list"></i> <span class="d-none-mini">TODO</span></a></li>
        <li><a href="#"><i class="bi bi-list"></i> <span class="d-none-mini">TODO</span></a></li>
    </ul>
</nav>