/*!
 * Author : Gourdon Aymeric
 * Version : 1.0
 * Point d'entrée pour le design Admin
 */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "admin/themes/orange";

$primary: $orange-700;
$secondary: $orange-500;
$success: $green-600;
$danger: $red-600;
$info: $blue-600;
$light: $orange-100;
$warning: $orange-500;
$dark: $orange-900;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "info": $info,
        "dark": $dark,
        "light": $light,
        "warning": $warning
);

$theme-colors: map-merge($theme-colors, $theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text: map-merge($utilities-text, $utilities-colors);
$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text");
$utilities-bg: map-merge($utilities-bg, $utilities-colors);
$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg");

@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Import surcharge boostrap CSS
@import "admin/bootstrap/nav";
@import "admin/bootstrap/pagination";

@import "admin/global";
@import "admin/header";
@import "admin/menu-left";
@import "admin/breadcrumb";
@import "admin/debug";

