@mixin theme-dark() {
    --primary : #202223;
    --secondary: #444750;
    --success: #0c5402;
    --danger: #670101;
    --info: #01106e;
    --light: #ff02ca;
    --warning: #705f02;
    --dark: #060606;
  }

 .theme-dark {
     @include theme-dark();
 }


