:root {
    --primary: #{$orange-700};
    --primary-rgb: 152, 76, 12;
    --secondary: #{$orange-500};
    --success: #{$green-600};
    --danger: #{$red-900};
    --info: #{$blue-600};
    --light: #{$orange-100};
    --warning: #{$orange-500};
    --dark: #{$orange-900};
}
