:root {
  --primary: #{$purple-700};
  --primary-rgb: 111, 66, 193;
  --secondary: #{$purple-500};
  --success: #{$green-600};
  --danger: #{$red-900};
  --info: #{$blue-600};
  --light: #{$purple-100};
  --warning: #{$orange-500};
  --dark: #{$purple-900};
}