@mixin theme-purple() {
  --primary : #3f2f61;
  --secondary: #6d4a93;
  --success: #ff91ff;
  --danger: #ad6bd0;
  --info: #01106e;
  --light: #AAA;
  --warning: #705f02;
  --dark: #705f02;
}

.theme-purple {
  @include theme-purple();
}