:root {
    --primary: #{$red-700};
    --primary-rgb: 132, 32, 41;
    --secondary: #{$red-500};
    --success: #{$green-600};
    --danger: #{$red-800};
    --info: #{$blue-600};
    --light: #{$red-100};
    --warning: #{$orange-500};
    --dark: #{$red-900};
}
