@mixin theme-red() {
  --primary : #{$indigo-700};
  --secondary: #a02b46;
  --success: #ff773d;
  --danger: #d84846;
  --info: #c5f57c;
  --light: #f3ef00;
  --warning: #F6B339;
  --dark: #561941;
}

.theme-red {
  @include theme-red();
}
