.theme-dark {
    $body-bg: rgb(41, 41, 41);
    $card-bg: rgb(78, 78, 78);

    $dark: #060606;
    $primary: #202223;
    $secondary: #444750;
    $success: #0c5402;
    $danger: #670101;
    $info: #01106e;
    $light: #aaa;
    $warning: #705f02;

    $brand-primary: $primary;

    $theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'danger': $danger,
        'info': $info,
        'dark': $dark,
        'light': $light,
        'warning': $warning,
    );

    --bg-primary: #{$primary};
    --bg-secondary: #{$secondary};

    /*$theme-colors: map-merge($theme-colors, $custom-colors);
  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
  $utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
  $utilities-text: map-merge($utilities-text, $utilities-colors);
  $utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text");
  $utilities-bg: map-merge($utilities-bg, $utilities-colors);
  $utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg");*/

    @import '~bootstrap/scss/bootstrap';
}
