{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'media.index.page_title' | trans({}, 'media') }}{% endblock %}

{% block body %}
    <h1>{{ 'media.index.page_title_h1' | trans({}, 'media') }}</h1>

    {{ breadcrumb(breadcrumb) }}

    <div {{ vue_component('Admin/Content/Mediatheque', {'url' : path('admin_media_load')}) }}></div>

{% endblock %}