<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock %}
    <title>{% block title %} {{  'front.page.title' | trans({}, 'front')  }} {% endblock %}</title>
    <link rel="icon" type="image/jpg" href="{{ asset('assets/natheo/favico/favicon.ico') }}">
    
       {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags(scriptsTag) }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags(scriptsTag) }}
    {% endblock %}
</head>
<body class="bg-theme-1-100 container px-6 py-8 mx-auto">
{% block body %}{% endblock %}
</body>
</html>