{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'dashboard.index' | trans({}, 'dashboard') }}{% endblock %}

{% block body %}

    <h1 class="mb-3">{{ 'dashboard.index' | trans({}, 'dashboard') }}</h1>

    <div {{ vue_component('Admin/Dashboard/dashboard', {
        'urls' : urls,
        'translate' : translate,
        'datas' : datas,
    }) }}>
    </div>
{% endblock %}