{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'tag.update.page_title' | trans({}, 'tag') }}{% endblock %}

{% block body %}
    <h1>{{ 'tag.update.page_title_h1' | trans({}, 'tag') }}</h1>

    {{ breadcrumb(breadcrumb) }}


{% endblock %}