/*!
 * Author : Gourdon Aymeric
 * Version : 1.0
 * CSS la gestion des menus
 */

#global-menu {

  .tree-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    div {
      padding: 0.3em;
    }

    li ul li {
      padding-left: 1.5em;
    }

    span {
      cursor: pointer;
    }

    .li-hover:hover, .selected {
      background-color: var(--bs-secondary);
      color: #FFFFFF;
      padding: 0.3em 0.3em 0.3em 0.4em;
    }
  }
}
