/*!
 * Author : Gourdon Aymeric
 * Version : 1.0
 * CSS pour la création / gestion des pages
 */

/** Rendu de la démo **/
#col-adm-page-render {
    .transition-render {
        transition: all 0.3s;
    }

    #demo-render-page {
        border: 3px solid var(--bs-secondary);
        height: 92%;
    }

    #content-render {
        height: 92%;
    }
}

/** CSS formulaire de création / édition de pae **/
#global-page-form {
    #content-history {
        .row-history:hover {
            background-color: var(--bs-secondary);
            color: white;
        }
    }

    /** CSS pour les block content du formulaire de création/edition de page */
    #page-content {
        .block-page-content {
            border: 1px dashed;
            border-color: var(--bs-secondary);
            padding: 10px;
            border-radius: 2px;
            min-height: 450px;
        }
    }
}

.auto-complete-result {
    border: 1px solid var(--bs-secondary);
    width: 100%;
    margin-top: 37px;
    max-height: 200px;
    overflow: auto;
}
